/* Cool Transitions, Animations, and Fonts */
@keyframes float {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-10px);
  }

  100% {
      transform: translateY(0);
  }
}

.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Landing Screen */
.landing-body {
  background-image: url(assets/landing_bg.png);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-side {
  width: 75px;
  height: 100%;
  background-color: #89bd2e;
  position: absolute;
  left: 0px;
  margin: 0;
  padding-top: 25px;
  text-align: center;
}


.landing-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.landing-elements img {
  width: 850px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 50px;
  animation: float 3s ease-in-out infinite;
}

.landing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.landing-buttons button {
  border-radius: 20px;
  background-color: transparent !important;
  font-family: "Montserrat", sans-serif;
  font-size: 175%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 10px;
  margin: 100;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-btn, .login-btn:hover {
  border: 6px solid #89bd2e;
  color: #89bd2e;
}

.signup-btn, .signup-btn:hover {
  border: 6px solid #f28d01;
  color: #f28d01;
}

/* Login and Signup Screen */
.login-body, .signup-body {
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.login-container, .login-logo-container, .signup-container, .signup-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.login-container img, .signup-container img {
  width: 87.5%;
  height: auto;
  margin-top: auto;
}

.login-container form, .signup-container form {
  width: 30%;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.login-container form {
  gap: 50px;
}

.signup-container form {
  gap: 35px;
}

.login-container form input {
  width: 100%;
  height: 50px;
  background-color: #89bd2e;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  letter-spacing: 6px;
  border: none;
  border-radius: 12px;
  padding-left: 20px;
}

.first-last-name-row {
  width: 104%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.signup-container form input {
  width: 100%;
  height: 50px;
  background-color: #f28d01;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  letter-spacing: 6px;
  border: none;
  border-radius: 12px;
  padding-left: 20px;
}

.login-container form input:focus {
  outline: none;
}

.login-container form input::placeholder {
  color: #d5f0a8;
}

.signup-container form input::placeholder {
  color: #ffe099;
}

.login-container form button, .signup-container form button{
  border-radius: 20px;
  background-color: transparent !important;
  font-family: "Montserrat", sans-serif;
  font-size: 175%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 10px;
  margin: 100;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-container form button {
  border: 6px solid #89bd2e;
  color: #89bd2e;
}

.signup-container form button {
  border: 6px solid #f28d01;
  color: #f28d01;
}

.login-logo-container img, .signup-logo-container img {
  width: 75%;
  height: auto;
}

.login-x-btn, .signup-x-btn {
  width: 4% !important;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 20px;
  margin-right: 20px;
}

.login-x-btn:hover, .signup-x-btn:hover, .login-btn:hover, .signup-btn:hover, .login-container form button:hover, .signup-container form button:hover, .button-container img:hover, .add-marker-btn:hover, .map-filter-btn:hover {
  transform: scale(1.05);
  transition: .2s;
}

/* NavBar */
.navbar {
  background-image: url(assets/navbar_bg.png);
  width: 100%;
  height: 15%;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  outline: 5px solid #ecffcb;
}

.logo-container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  width: 60%;
  height: auto;
}

.search-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-bar {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #ecffcb;
  padding: 0 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border: none;
  color: #89bd2e;
  padding-left: 80px;
}

.search-bar::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #89bd2e;
}

.search-bar:focus {
  outline: none;
}

.search-container img {
  width: 35px;
  height: auto;
  position: absolute; 
  left: 30px

}

.button-container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.button-container div {
  border-radius: 50%;
}

.button-container a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ecffcb;
  object-fit: contain;
}

/* Dashboard Screen */
.dashboard-body {
  background-image: url(assets/dashboard_bg.png);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.map-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.map-container .leaflet-container {
  z-index: 10;
  position: absolute; 
}

.map-bg {
  position: absolute;
  display: flex;
  width: 85%;
  height: 95%;
  z-index: 0;
  object-fit: cover;
}


.map-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 8%;
  left: 25%;
}

.add-marker-btn {
  width: 10%;
  height: auto;
  z-index: 100;
}

.map-filter-btn {
  width: 10%;
  height: auto;
  z-index: 100;
}

.resto-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: 50px;

}

.resto-container-green-part {
  width: 90%;
  height: auto;
  min-height: 120%;
  border-radius: 35px;
  background-image: url(assets/navbar_bg.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.resto-name-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
}

.resto-container-white-part {
  width: 93%;
  height: auto;
  overflow: hidden;
  border-radius: 35px;
  background-image: url(assets/grid_bg.png);
}