/* Cool Transitions, Animations, and Fonts */
@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

@-moz-keyframes swing {
  0% {
    -moz-transform: rotate(-3deg)
  }

  50% {
    -moz-transform: rotate(3deg)
  }

  100% {
    -moz-transform: rotate(-3deg)
  }
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-3deg)
  }

  50% {
    -webkit-transform: rotate(3deg)
  }

  100% {
    -webkit-transform: rotate(-3deg)
  }
}

/* Landing Screen */
.landing-body {
  background-image: url(assets/landing_bg.png);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-side {
  width: 75px;
  height: 100%;
  background-color: #89bd2e;
  position: absolute;
  left: 0px;
  margin: 0;
  padding-top: 25px;
  text-align: center;
}


.landing-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.landing-elements img {
  width: 850px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 50px;
  animation: float 3s ease-in-out infinite;
}

.landing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.landing-buttons button,
.add-menu-submit-btn {
  border-radius: 20px;
  background-color: transparent !important;
  font-family: "Montserrat", sans-serif;
  font-size: 175%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 10px;
  margin: 100;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-btn,
.login-btn:hover {
  border: 6px solid #89bd2e;
  color: #89bd2e;
}

.signup-btn,
.signup-btn:hover,
.add-menu-submit-btn,
.add-menu-submit-btn:hover {
  border: 6px solid #f28d01;
  color: #f28d01;
}

/* Login, Signup, and Register Establishment Screen */
.login-body,
.signup-body,
.reg-est-body {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.login-container,
.login-logo-container,
.signup-container,
.signup-logo-container,
.reg-est-container,
.reg-est-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.login-container img,
.signup-container img,
.reg-est-container img {
  width: 87.5%;
  height: auto;
  margin-top: auto;
}

.login-container form,
.signup-container form,
.reg-est-container form {
  width: 30%;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.login-container form {
  gap: 50px;
}

.signup-container form,
.reg-est-container form {
  gap: 35px;
}

.login-container form input,
.reg-est-container form input,
.reg-est-container form textarea {
  width: 100%;
  height: 50px;
  background-color: #89bd2e;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  letter-spacing: 6px;
  border: none;
  border-radius: 12px;
  padding-left: 20px;
}

.first-last-name-row {
  width: 104%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.signup-container form input {
  width: 100%;
  height: 50px;
  background-color: #f28d01;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  letter-spacing: 6px;
  border: none;
  border-radius: 12px;
  padding-left: 20px;
}

.login-container form input:focus,
.reg-est-container form input:focus,
.reg-est-container form textarea:focus {
  outline: none;
}

.login-container form input::placeholder,
.reg-est-container form input::placeholder,
.reg-est-container form textarea::placeholder {
  color: #d5f0a8;
}

.signup-container form input::placeholder {
  color: #ffe099;
}

.login-container form button,
.signup-container form button,
.reg-est-container form button {
  border-radius: 20px;
  background-color: transparent !important;
  font-family: "Montserrat", sans-serif;
  font-size: 175%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 10px;
  margin: 100;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-container form button,
.reg-est-container form button {
  border: 6px solid #89bd2e;
  color: #89bd2e;
}

.signup-container form button {
  border: 6px solid #f28d01;
  color: #f28d01;
}

.login-logo-container img,
.signup-logo-container img,
.reg-est-logo-container img {
  width: 75%;
  height: auto;
}

.login-x-btn,
.signup-x-btn,
.reg-est-x-btn {
  width: 4% !important;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 20px;
  margin-right: 20px;
}

.login-x-btn:hover,
.signup-x-btn:hover,
.reg-est-x-btn:hover,
.login-btn:hover,
.signup-btn:hover,
.login-container form button:hover,
.signup-container form button:hover,
.button-container img:hover,
.list-btn:hover,
.add-marker-btn:hover,
.map-filter-btn:hover,
.reg-est-btn:hover,
.reg-est-container button:hover,
.resto-profile-tabs img:hover,
.add-menu-submit-btn:hover,
.map-btn:hover,
.sort-btn:hover,
.resto-card:hover,
.sort-btn-asc:hover,
.sort-btn-desc:hover,
.resto-x-btn:hover,
.gen-x-btn:hover,
.menu-x-btn:hover {
  transform: scale(1.05);
  transition: .2s;
}

.favorite-btn:hover {
  transform: scale(1.3);
  transition: .2s;
}

.reg-est-container form textarea {
  resize: none;
  height: 150px;
  padding-top: 10px;
}

.reg-est-container img {
  height: 100%;
}

.op-close-text {
  font-family: "Montserrat";
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: 600;
}

.reg-est-container table input {
  width: 85% !important;
  font-size: 18px !important;
}

.reg-est-btn-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}




/* NavBar */
.navbar {
  background-image: url(assets/navbar_bg.png);
  width: 100%;
  height: 15%;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  outline: 5px solid #ecffcb;
  z-index: 5;
}

.logo-container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  width: 60%;
  height: auto;
}

.search-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-bar {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #ecffcb;
  padding: 0 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border: none;
  color: black;
  padding-left: 80px;
}

.search-bar::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #89bd2e;
}

.search-bar:focus {
  outline: none;
}

.search-container img {
  width: 35px;
  height: auto;
  position: absolute;
  left: 30px
}

.button-container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.button-container div {
  border-radius: 50%;
}

.button-container a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ecffcb;
  object-fit: contain;
}

/* Dashboard Screen */
.dashboard-body {
  background-image: url(assets/dashboard_bg.png);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard-main,
.profile-main {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
}

.map-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.map-container .leaflet-container {
  z-index: 1;
  position: absolute;
}

.map-bg {
  position: absolute;
  display: flex;
  width: 85%;
  height: 95%;
  z-index: 0;
  object-fit: cover;
}

.map-buttons-container-left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  bottom: 8%;
  left: 15%;
}

.map-buttons-container-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
  position: absolute;
  bottom: 8%;
  right: 15%;
}

.list-btn {
  width: 20%;
  height: auto;
  z-index: 1;
  cursor: pointer;
}

.add-marker-btn {
  width: 20%;
  height: auto;
  z-index: 1;
  cursor: pointer;
}

.map-filter-btn {
  width: 20%;
  height: auto;
  z-index: 1;
}

.resto-text-header {
  font-family: "Montserrat";
  color: #643e27;
  letter-spacing: -2px;
  margin: 0;
}

.resto-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: 50px;
}

#resto-container-nf {
  align-items: center;
  margin-top: 0px !important;
}

.resto-not-found {
  width: 50%;
  height: auto;
  animation: float 3s ease-in-out infinite;
}

.resto-container-green-part {
  width: 90%;
  height: auto;
  max-height: 100%;
  border-radius: 35px;
  background-image: url(assets/navbar_bg.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 20px;
}

.resto-container-green-part {
  width: 90%;
  height: auto;
  border-radius: 35px;
  background-image: url(assets/navbar_bg.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: visible;
  overflow-x: hidden;
}

.resto-header {
  width: 100%;
  height: auto;
  min-height: 185px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.resto-name-fav {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.resto-name-fav h1 {
  font-family: "Sigmar";
  font-size: 56px;
  -webkit-text-stroke: 1.5px black;
  margin: 0;
  margin-left: 20px;
  letter-spacing: -1px;
  line-height: 48px;
  word-wrap: break-word;
  color: white;
}

.resto-name-fav img {
  width: 40px;
  height: auto;
  margin-left: 20px;
}

.resto-pfp {
  width: 225px;
  height: auto;
  display: flex;
  justify-content: center;
}

.resto-pfp img {
  width: 175px;
  height: 175px;
  outline: 5px solid #89bd2e;
  box-shadow: 15px 15px #ecffcb;
  position: absolute;
  top: -3%;
  left: 8%;
  border-radius: 25px;
}

.resto-container-white-part {
  width: 85%;
  height: auto;
  border-radius: 35px;
  background-image: url(assets/grid_bg.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 75px;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: visible;
}

.resto-container-white-part p,
table {
  font-family: "Montserrat";
  font-size: 100%;
  color: black;
  letter-spacing: -0.3px;
  font-weight: 500;
  margin: 0;
}

.resto-desc {
  font-style: italic;
  text-align: center;
}

.resto-desc::before,
.resto-desc::after {
  content: '"';
}

.resto-container-white-part hr {
  border-top: dotted 4px #f28d01;
  background-color: transparent;
  width: 100%;
}

.resto-address-container,
.resto-phone-container,
.resto-schedule-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.resto-address-container p,
.resto-phone-container p,
.resto-schedule-container p {
  margin-top: 0;
}

.resto-container-white-part img {
  width: 35px;
  height: auto;
}

.second-col {
  padding-left: 40px;
}

.resto-profile-tabs,
.sort-btn-container {
  width: 16%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: 10%;
  left: -0.7%;
  gap: 10px;
}

.resto-profile-tabs img,
.sort-btn-container img {
  width: 100px;
  height: auto;
}

.resto-x-btn {
  width: 75px;
  position: absolute;
  right: 3%;
  top: -15px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #c7c7c7;

}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  border-radius: 20px;
  margin-right: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #f28d01;
  border-radius: 20px;
  padding: 2px;
}

.add-marker-mode {
  width: 100%;
  height: 32px;
  background-color: rgb(56, 56, 56);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  bottom: 0;
}

.add-marker-mode p {
  font-family: "Montserrat";
  font-size: 24px;
}

/* Menu */
.menu-item,
.add-item-container,
.menu-item-form {
  width: 100%;
  height: 150px;
  border: 5px solid #f28d01;
  background-color: rgba(255, 230, 195, 0.4);
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25px;
}

.menu-item {
  margin-top: 0 !important;
  margin-bottom: 15px;

}

.menu-item-img {
  height: 100%;
  display: flex;
  justify-content: flex-start;

}

.menu-item-img img {
  width: auto;
  height: 100%;
  border-radius: 15px;
}

.menu-item-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
}

.menu-item-name {
  font-family: "Sigmar";
  font-size: 36px;
  -webkit-text-stroke: 1.5px black;
  margin: 0;
}

.menu-item-desc {
  margin: 0;
}

.add-item-container {
  height: 75px;
  border: 5px dotted #f28d01;
  cursor: pointer;
  justify-content: center !important;
}

.add-item-container p {
  font-family: "Arial";
  font-size: 72px;
  color: #f28d01;
  margin: 0;
}

.nothing-here {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.nothing-here img {
  width: 50%;
  height: auto;
  animation: float 3s ease-in-out infinite;
}

.menu-x-btn {
  width: 40px;
  height: auto;
  margin-bottom: 425%;
  margin-left: 55%;
  box-shadow: 1px 1px 2px #c7c7c7;
  border-radius: 50%;
  cursor: pointer;
}

/* Add Menu Item */

.add-menu-item-body {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.add-menu-item-body h1 {
  font-family: "Sigmar";
  font-size: 64px;
  -webkit-text-stroke: 1.5px black;
}

.menu-item-form {
  width: 50% !important;
  margin: 0;
}

.menu-item-form-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.menu-item-form-info input,
.menu-item-form-info textarea {
  width: auto;
  min-width: 50%;
  height: 50px;
  background-color: rgba(242, 141, 1, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  letter-spacing: 6px;
  border: none;
  border-radius: 12px;
  padding-left: 20px;
  text-align: center;
}

.menu-item-form-info input {
  font-family: "Sigmar";
  letter-spacing: -1px;
  -webkit-text-stroke: 1.5px black;

}

.menu-item-form-info textarea {
  font-size: 18px;
  width: 75%;
  color: black;
  font-weight: 600;
  letter-spacing: 0;

}

.menu-item-form-info textarea::placeholder,
.menu-item-form-info input::placeholder {
  font-family: "Montserrat" !important;
  letter-spacing: 6px !important;
  -webkit-text-stroke: white !important;
  text-align: center !important;
  color: white;
}

.add-item-btns-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.add-menu-submit-btn {
  margin-top: 40px;
}

/* Add Review */

.add-comment-body {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border: 5px dotted #f28d01;
  border-radius: 25px;
  padding: 20px;
  background-color: rgba(255, 230, 195, 0.4);
  position: relative;
}

.add-comment-body textarea {
  width: 90%;
  min-height: 100px;
  background-color: transparent;
  border: none;
  font-family: "Montserrat";
  font-size: 18px;
  color: black;
  resize: none;
}

.add-comment-body textarea::placeholder {
  font-family: "Montserrat";
  font-size: 18px;
  color: #f28d01;
}

.add-comment-body textarea:focus {
  outline: none;
}

.add-comment-body img {
  position: absolute;
  right: 20px;
  top: 50px;
  cursor: pointer;
}

/* Review */
.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border: 5px solid #f28d01;
  border-radius: 25px;
  padding: 20px;
  background-color: rgba(255, 230, 195, 0.4);
  position: relative;
  text-align: center;
}

.comment {
  font-style: italic;
}

.comment::before {
  content: '"';
}

.comment::after {
  content: '"';
}

/* Resto List */
.resto-list-container {
  width: 50%;
  box-sizing: border-box;
  padding: 30px 75px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Resto Card */
.resto-card {
  width: 100%;
  height: 150px;
  border: 5px solid #89bd2e;
  background-color: rgba(223, 255, 195, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  margin-top: 15px;
}

.resto-card-img {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -5px;
}

.resto-card-img img {
  width: auto;
  height: 98%;
  border: 5px solid #89bd2e;
  border-radius: 22px;
}

.resto-card-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.resto-card-name {
  font-family: "Sigmar";
  font-size: 36px;
  -webkit-text-stroke: 1.5px black;
  margin: 0;
}

.resto-card-desc {
  margin: 0;
  font-family: "Montserrat";
  font-style: italic;
  color: black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.resto-card-desc::before,
.resto-card-desc::after {
  content: '"';
}



.resto-card-arrow {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.resto-card-arrow img {
  width: 30px;
}

.map-btn,
.sort-btn {
  width: 5%;
  height: auto;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  box-shadow: 1px 1px 2px #7e7e7e;
}

.map-btn {
  left: 7.5%;
  bottom: 6.75%;
  border-radius: 50%;
}

.sort-btn-container img {
  margin-left: 1%;
}

.gen-x-btn {
  width: 40px;
  height: auto;
  position: absolute;
  right: -22px;
  top: -20px;
  box-shadow: 1px 1px 2px #c7c7c7;
  border-radius: 50%;
}

/* Profile */
.user-left-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -moz-animation: 5s ease 0s normal none infinite swing;
  -moz-transform-origin: center top;
  -webkit-animation: swing 5s infinite ease-in-out;
  -webkit-transform-origin: top;
}

.user-left {
  width: 50%;
  height: 100%;
}

.profile-bg {
  width: 50%;
  height: auto;
  position: absolute;
  margin-bottom: 150px;
  z-index: -1;
}

.profile-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 60%;
  text-align: center;
}

.user-pfp {
  width: 50%;
  border-radius: 15px;
}

.user-name {
  font-family: "Sigmar";
  font-size: 3vw;
  -webkit-text-stroke: 1.5px black;
  letter-spacing: -1px;
  margin: 0;
  line-height: 45px;
  margin-top: 20px;
}

.user-right {
  width: 50%;
  height: 100%;
   display: flex;
  flex-direction: column;
  align-items: center;
}

.list-favs-container {
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 1%;
  padding-bottom: 5%;
  overflow-y: auto;
  overflow-x: hidden;
}

.favorites-text {
  font-family: "Montserrat";
  color: #643e27;
  letter-spacing: -5px;
  margin: 0;
  margin-right: auto;
  margin-top: 25px;
}

.fav-resto-container {
  margin-top: 50px;
}